div.alert.alert-info 
    p 请在专业人员指导下使用。。
    p
        a(href='https://developers.google.com/analytics/devguides/reporting/core/dimsmets',target='_blank') API文档 

div.form-group
    label 名字
    input.form-control(ng-model='form.name',require)


div.form-group
    label 统计来源
    select.form-control(ng-model='form.type',ng-change='dataTypeChange(this)')
        option(value='ga') Google 统计
        option(value='seedit') Seedit统计

div.form-group
    label 图表类型
    select.form-control(ng-model='form.chartType',ng-init='form.chartType="pie"')
        option(value='pie') 饼形图
        option(value='column') 条形图
        option(value='line') 折线图
        option(value='area') 面积图

div.form-group(ng-hide='hideGaIds')
    label 站点
    select.form-control(ng-model='form.option.ids')
        option(value='ga:63911100') 事件统计
        option(value='ga:62079070') 全站 
        option(value='ga:644469') WWW首页
        option(value='ga:61918595') WAP站
        option(value='ga:644519') BBS论坛
        option(value='ga:16257208') 知识
        option(value='ga:67437444') 播爱达人
        option(value='ga:648824') 个人中心
        option(value='ga:74817277') 账户中心
        option(value='ga:63449003') static


div.form-group(ng-show='showSeeditType')
    label 数据分类
    select.form-control(ng-model='form.option.dataType')
        option(value='price_topic') 悬赏帖
        option(value='topic') 总发帖
        option(value='reply') 总回复
        option(value='signup') 总注册
        option(value='signin') 总登录

div(class='form-group')
    label 开始日期，格式为 2013-05-08 或者天数，即多少天前，如30
    input(ng-model='form.option["start-date"]',class='form-control',require)


div(class='form-group')
    label 结束日期，同上
    input(ng-model='form.option["end-date"]',class='form-control',require)


div(class='form-group')
    label 横坐标(举例:按天取数据 ga:date)
    input(ng-model='form.option.dimensions',class='form-control',require)

div(class='form-group')
    label 纵坐标值 (举例:页面浏览数: ga:pageviews)
    input(ng-model='form.option.metrics',class='form-control',require)

div(class='form-group')
    label 筛选
    input(ng-model='form.option.filters',class='form-control')  


div(class='form-group')
    label 排序
    input(ng-model='form.option.sort',class='form-control')

div(class='form-group')
    label 最大结果数
    input(ng-model='form.option["max-results"]',class='form-control')


div.form-group
    input(ng-show='showAddBtn',ng-click='submitData()',class='btn btn-primary',type='button',value='添加') 
    input.btn.btn-primary(ng-show='showUpdateBtn',ng-click='updateData()',value='更新',type='button');

div.form-group
    div(class='alert alert-success {{show-success}}',ng-show='showSuccess') {{success_tip}}

hr
hr

.form-group(ng-show='showFollowing')
    label 从下面添加关注者(指定其他人，该数据将直接进入其他的关注数据中)
    .well 
        ul
            li(ng-repeat='fo in fos') {{fo.user.username}}

    select.form-control#members()
        option 请选择
        option(ng-repeat='member in members',value='{{member._id}}') {{member.username}}


    

hr
