div(class='form-group')
    label 标题
    input(ng-model='form.title',class='form-control')
div(class='form-group')
    label 内容
    textarea(ng-model='form.content',class='form-control')

.form-group#drag-area(style='height:300px;border:1px dashed #ccc;')

a(ng-click='addFeature()',class='btn btn-primary') 添加