div(class='form-group')
    label 标题
    input(ng-model='form.title',class='form-control')
div(class='form-group')
    label 内容
    textarea(ng-model='form.content',class='form-control')

.form-group#drag-area(style='height:100px;border:1px dashed #ccc;text-align:center;line-height:100px;color:#ccc;font-size:25px;border-radius:10px;') 拖拽文件到这里上传

ul
    li(ng-repeat='file in files') 
        a(href='/uploads/{{file.data.name}}.{{file.data.ext}}',target='_blank') {{file.data.name}}
        span.label.label-danger {{file.data.ext}}

a(ng-click='addFeature()',class='btn btn-primary') 添加