h2 添加新Issue
label(for='title') 名字: 
input(ng-model='form.title')
label(for='content')
input(ng-model='form.content')
label(for='level') 优先级
input(ng-model='form.level')
input(ng-model='form.labels')
button(ng-click='submitIssue()') 确定
