div.form-group
    label(for='title') 名字: 
    input.form-control(ng-model='form.title')

div.form-group
    label(for='level') 优先级
    select.form-control(ng-model='form.level',ng-init='form.level="01"')
        option(value='1') 不赶紧做会死
        option(value='2') 必须做
        option(value='3') 最好做
        option(value='4') 可以做
        option(value='5') 强迫症发作

div.form-group
    label 影响模块
    select.form-control(ng-model='form.site',ng-init='form.site="all"')
        option(value='all') 全站
        option(value='www') WWW
        option(value='bbs') 论坛
        option(value='zhishi') 知识
        option(value='riji') 日记
        option(value='i') 播爱
        option(value='account') 账户中心

div.form-group
    label 影响范围
    select.form-control(ng-model='form.area',ng-init='form.area="some"')
        option(value='single') 单个用户
        option(value='some') 部分用户
        option(value='all') 全部用户

div.form-group
    label URL
    input.form-control(ng-model='form.url')

div.form-group
    label 来源
    input.form-control(ng-model='form.from')

div.form-group
    label 提交者
    input.form-control(ng-model='form.submit')


div.intro
    div.form-group
        label 指派给 {{form.owner}}
        select.form-control(ng-model='form.owner')
            option(ng-repeat='user in users',value='{{user.username}}') {{user.username}} ({{user.realname}})

    div.alert.alert-success
        p 页面布局问题，兼容问题给 
            strong airyland(李政)
            或者
            strong yyy(映昱)
        p 建议什么的需要讨论确定的给  
            strong ibz(壮伟) 
        p APP相关问题给 
            strong rayz(邹磊)

div.form-group
    label 标签
    input.form-control(ng-model='form.labels')


div.form-group    
    label(for='content') 内容
    div.form-control#img-box(contenteditable='true',ng-model='form.content',style='height:auto;min-height:200px',ui-event="{ paste : 'onpaste()' }")

div.alert.alert-success
    p 可以直接在上面输入框内粘贴 
        strong  QQ截图 
        或者 
        strong 屏幕截图(Print Screen键) 
        以及 
        strong 网页上右键复制的图片 

div.form-group
    button.btn.btn-primary(ng-click='submitIssue()') 确定
