h2 addTodo
hr
.form-group
    label(for='title') 标题: 
    input.form-control(ng-model='form.title')
.form-group
    label(for='cat') 描述
    textarea.form-control(ng-model='form.desc')
.form-group
    label 指派给
    input.form-control(ng-model='form.owner')
.form-group
    button.btn.btn-primary(ng-click='submitTodo()') 确定