h2 内测数据

hr

#numbers(style="height:300px;");

br

h3 数据明细
table.table.table-bordered
    tr
        td(ng-repeat='one in numbers') {{one[0]}}
    tr
        td(ng-repeat='one in numbers') {{one[1]}}
hr