div.form-group
    a.btn.btn-primary(href='/datas/add') 添加数据源
div.panel.panel-default
    div.panel-heading 数据源列表
    table.table
        tbody
            tr(ng-repeat='one in datas')  
                td 
                    a(href='/data/{{one._id}}') {{one.name}}

   