div.form-group
    a.btn.btn-primary(href='/docs/add') 添加文档

div.panel.panel-default
    div.panel-heading 文档列表
    table.table
        tbody
            tr(ng-repeat='one in docs')  
                td
                    a(href='/doc/{{one._id}}') {{one.title}}
                td
                    span {{one.author}}   
                td 
		    span {{one.date | time}}

    
