h2 查看状态
label(for='name') 名字: 
input(value='{{form._id}}')
input(ng-model='form.name', name='name')
p Body:
textarea(ng-model='form.desc', cols='50', rows='15')
p
  button(ng-click='updateStatus()') 更新
  a(ng-click='deleteStatus()') 删除