a(href='/features/add') 添加需求
hr
li(ng-repeat='one in features')
    p @{{one.author}} {{one.title}}
    p {{one.content}}
    a(href='/feature/{{one._id}}') 查看
    a(ng-click='deleteFeature("{{one._id}}")',href='javascript:void') 删除
    hr