a(href='/features/add',class='btn btn-primary') 添加需求
hr
ul.sd-list-items
    li.sd-list-item(ng-repeat='one in features')
        a(href='/feature/{{one._id}}') @{{one.author}} {{one.title}}
        p {{one.content}}
     