div(ng-repeat='one in issues')
  h3 {{one.title}}
  p {{one.content}}
  p {{one.author}}
  p {{one.date}}
  p {{one.labels}}


  span(class='label label-danger') {{one.level}}
  a(href='/issue/{{one._id}}',class='btn btn-primary btn-xs') 编辑
  hr