.alert.alert-info='Hi,'+user.username
hr


h2 Messages
ul
    li(ng-repeat='message in messages')
        {{message.from}}

hr

h2 Todos({{todos.length}})
ol.sd-list-items
    li.sd-list-item(ng-repeat='todo in todos') 
        a(href='/todo/{{todo._id}}'){{todo.title}}

h2 Issues({{issues.length||0}})
ul.sd-list-items
    li.sd-list-item(ng-repeat='issue in issues') 
        span.label.label-danger {{issue.level | issueLevel}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/issue/{{issue._id}}'){{issue.title}}
