.alert.alert-info
    p='Hi,'+user.username
    br
    p 页面数据查看工具请进入Google商店安装: 
        a(href='https://chrome.google.com/webstore/detail/iseedit/fofjedolkdabgdaicnmamomblnigglog/details',target='_blank') https://chrome.google.com/webstore/detail/iseedit/fofjedolkdabgdaicnmamomblnigglog/details
    p 本地安装包(打开扩展页面，拖入安装) 
        a(href='chrome.crx')下载
hr

.row
    .col-md-6
        h2 Todos({{todos.length}})
        ol.sd-list-items
            li.sd-list-item(ng-repeat='todo in todos') 
                a(href='/todo/{{todo._id}}'){{todo.title}}

    .col-md-6
        h2 Issues({{issues.length||0}})
        ul.sd-list-items
            li.sd-list-item(ng-repeat='issue in issues') 
                span.label.label-info(ng-show='issue.open') 开启
                span.label.label-danger(ng-hide='issue.open') 关闭
                &nbsp;&nbsp;
                span.label.label-danger {{issue.level | issueLevel}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='/issue/{{issue._id}}'){{issue.title}}


h2 Messages({{messages.length}})
ul.sd-list-items
    li.sd-list-item(ng-repeat='message in messages')
        {{message.from}} {{message.content.action}} 
        a(href='{{message.content.link}}'){{message.content.target}}&nbsp;
        span.label.label-info {{message.content.end}}
        span(ng-hide='message.to=="all"')给你 
        span.gray-link ({{message.date | time}})

