h1 成员列表
hr
ul(style="padding-left:0;")
    li(ng-repeat='member in members',style="margin-bottom:15px;list-style:none;float:left;height:100px;margin-right:25px;text-align:center;")
        img(src="{{member.avatar}}",width="73",height="73",style="border-radius:4px;")
        br
        span {{member.realname}}