div(class='form-group')
    label 用户名
    input(ng-model='form.username',class='form-control')

div(class='form-group')
    label 密码
    input(ng-model='form.password',class='form-control',type='password',ng-enter='login()')

div(class='form-group')
    button(ui-keyup='{"enter":"login()"}',class='btn btn-primary') 登录

