h1 待办
    a.btn.btn-primary(href='/todos/add',style='float:right') 添加
hr



table.table 
    tbody
        tr(ng-repeat ='one in todos')
            td
                span.label.label-info {{one.status}}
            td
                a(href='/todo/{{one._id}}') {{one.title}}
            td
                {{one.author}}
            td
                {{one.owner}}
            td
                {{one.date | time}}
hr