div.form-group
    a.btn.btn-primary(href='/topics/add') 添加话题

table.table
    tbody
        tr(ng-repeat='one in topics')
            td
                a(href='/topic/{{one._id}}') {{one.title}}
            td
                {{one.author}} 
