h1 {{form.title}}
hr
p {{form.date | time}}
p {{form.desc}}
hr
.form-group
    button.btn.btn-primary(ng-click='deleteTodo()') 删除

hr
.form-group 
    label 更改状态
    select.form-control(ng-model='form.status')
        option(value='处理中') 处理中
        option(value='待处理') 待处理
        option(value='测试中') 测试中
        option(value='等待上线') 等待上线
        option(value='处理完成') 处理完成
        option(value='暂时不处理') 暂时不处理
.form
    button.btn.btn-primary(ng-click='updateStatus()') 更改

br
h2 评论与说明
hr
// 评论内容
ul.sd-list-items
    li.sd-list-item(ng-repeat='one in list')
        p
            span.author {{one.author}}
            span.time {{one.date | time}}
        p {{one.content}}

// 评论框

div(class='form-group')
    input(type='hidden',value='{{form._id}}',ng-model='discussion.typeId')
    input(type='hidden',value='todo',ng-model='discussion.type')
    label 评论与说明
    textarea(class='form-control',ng-model='discussion.content',ng-paste='paste()')

div(class='form-group')
    button(class='btn btn-primary',ng-click='submitDiscussion()') 提交 