h1 {{form.title}}
hr
p(ng-bind-html-unsafe='form.content') 


hr



ul
    li(ng-repeat='message in messages')
        span {{message.from}} {{message.content.action}} {{message.date | time}}



hr

.form-group
    a.btn.btn-info(href='/issue/{{form._id}}/edit') 编辑
    button.btn.btn-primary(ng-click='deleteIssue()') 删除
    button.btn.btn-primary(ng-click='closeIssue()',ng-show='form.open') 关闭
    button.btn.btn-primary(ng-click='reopenIssue()',ng-hide='form.open') 重新开启



// 评论框

div(class='form-group')
    input(type='hidden',value='{{form._id}}',ng-model='discussion.typeId')
    input(type='hidden',value='topic',ng-model='discussion.type')
    label 评论一下呗
    textarea(class='form-control',ng-model='discussion.content',ng-paste='paste()')

div(class='form-group')
    button(class='btn btn-primary',ng-click='submitDiscussion()') 提交 

hr
// 评论内容
ul
    li(ng-repeat='one in list')
        p
            span {{one.author}}
            span {{one.date}}
        p {{one.content}}
