div.row
    div.col-md-6
        div.panel.panel-info
            div.panel-heading 广告比例
            div.panel-body

    div.col-md-6
        div.panel.panel-info
            div.panel-heading 广告比例
            div.panel-body