h1 {{form.title}}
hr
p 编辑者： {{form.author}}  时间： {{form.date | time}}
p 成员: 
    span(ng-repeat='member in form.members') {{member}} 
        <br/>
hr
p 内容：
    div(ng-bind-html-unsafe='form.content')

hr

h3 附件
table.table
    tr(ng-repeat='file in form.files') 
        td 
            a(href='/uploads/{{file.name}}.{{file.ext}}',target='_blank') {{file.name}}.{{file.ext}} 
            {{file.author}}
            上传于{{file.date | time}}
hr 





.form-group
    a.btn.btn-primary(href='/feature/{{form._id}}/edit') 编辑
    a.btn.btn-danger(ng-click='deleteFeature()') 删除


