h2 {{form.name}}

hr

div.row
    div.row

    div.col-md-12
        div.panel.panel-default
            div.panel-heading {{form.name}}
            div.panel-body
                div(id="data_{{form._id}}").data-box-3h
                    div.progress.progress-striped.active
                        div.progress-bar('style="width:45%;"')

//div.form-group
    button.btn.btn-primary(ng-click='deleteData()') 删除