h1 {{form.title}}
hr
p(ng-bind-html-unsafe='form.content') 


hr


br
h2 动态
ul.sd-list-items
    li.sd-list-item(ng-repeat='message in messages')
        span {{message.from}} {{message.content.action}} {{message.date | time}}



br
h2 评论与说明
hr
// 评论内容
ul.sd-list-items
    li.sd-list-item(ng-repeat='one in list')
        p
            span.author {{one.author}}
            span.time {{one.date | time}}
        p {{one.content}}

// 评论框

div(class='form-group')
    input(type='hidden',value='{{form._id}}',ng-model='discussion.typeId')
    input(type='hidden',value='topic',ng-model='discussion.type')
    label 评论与说明
    textarea(class='form-control',ng-model='discussion.content',ng-paste='paste()')

div(class='form-group')
    button(class='btn btn-primary',ng-click='submitDiscussion()') 提交 



hr

.form-group
    a.btn.btn-info(href='/issue/{{form._id}}/edit') 编辑
    button.btn.btn-danger(ng-click='deleteIssue()') 删除
    button.btn.btn-primary(ng-click='closeIssue()',ng-show='form.open') 关闭
    button.btn.btn-primary(ng-click='reopenIssue()',ng-hide='form.open') 重新开启

