h1 BBS换量 {{exchangeSum}}

table.table
    thead
        tr
            th 点击
            th 标题
            th 图文
    tbody
        tr(ng-repeat='list in lists')
            td 
                span.label.label-success {{list[0]}}
            td {{list[1]}}
            td 无




h1 站点其他数据
hr

table.table.table-bordered.table-striped
    tr
    td.table-middle 
        span.no.no-sm 全站
    td 
        span 站点平均访问时间
        br
        span.no.vivid{{data.all.avgTimeOnSite | toMinute}}
    td 
        span 单次访问页面数
        br
        span.no{{data.all.pageviewsPerVisit}}
    td 
        span 新访问比例
        br
        span.no{{data.all.percentNewVisits}}%
    td 
        span 跳出率
        br
        span.no{{data.all.visitBounceRate}}%


    tr
        td.table-middle 
            span.no.no-sm BBS
        td 
            span 站点平均访问时间
            br
            span.no.vivid{{data.bbs.avgTimeOnSite | toMinute}}
        td 
            span 单次访问页面数
            br
            span.no{{data.bbs.pageviewsPerVisit}}
        td 
            span 新访问比例
            br
            span.no{{data.bbs.percentNewVisits}}%
        td 
            span 跳出率
            br
            span.no{{data.bbs.visitBounceRate}}%
    tr
        td.table-middle 
            span.no.no-sm 手机站
        td 
            span 站点平均访问时间
            br
            span.no.vivid{{data.m.avgTimeOnSite | toMinute}}
        td 
            span 单次访问页面数
            br
            span.no{{data.m.pageviewsPerVisit}}
        td 
            span 新访问比例
            br
            span.no{{data.m.percentNewVisits}}%
        td 
            span 跳出率
            br
            span.no{{data.m.visitBounceRate}}%


    tr
        td.table-middle 
            span.no.no-sm WWW
        td 
            span 站点平均访问时间
            br
            span.no.vivid{{data.www.avgTimeOnSite | toMinute}}
        td 
            span 单次访问页面数
            br
            span.no{{data.www.pageviewsPerVisit}}
        td 
            span 新访问比例
            br
            span.no{{data.www.percentNewVisits}}%
        td 
            span 跳出率
            br
            span.no{{data.www.visitBounceRate}}%



    tr
        td.table-middle 
            span.no.no-sm 知识
        td 
            span 站点平均访问时间
            br
            span.no.vivid{{data.zhishi.avgTimeOnSite | toMinute}}
        td 
            span 单次访问页面数
            br
            span.no{{data.zhishi.pageviewsPerVisit}}
        td 
            span 新访问比例
            br
            span.no{{data.zhishi.percentNewVisits}}%
        td 
            span 跳出率
            br
            span.no{{data.zhishi.visitBounceRate}}%

      tr
            td.table-middle 
                span.no.no-sm 日记
            td 
                span 站点平均访问时间
                br
                span.no.vivid{{data.riji.avgTimeOnSite | toMinute}}
            td 
                span 单次访问页面数
                br
                span.no{{data.riji.pageviewsPerVisit}}
            td 
                span 新访问比例
                br
                span.no{{data.riji.percentNewVisits}}%
            td 
                span 跳出率
                br
                span.no{{data.riji.visitBounceRate}}%

      tr
            td.table-middle 
                span.no.no-sm 播爱
            td 
                span 站点平均访问时间
                br
                span.no.vivid{{data.i.avgTimeOnSite | toMinute}}
            td 
                span 单次访问页面数
                br
                span.no{{data.i.pageviewsPerVisit}}
            td 
                span 新访问比例
                br
                span.no{{data.i.percentNewVisits}}%
            td 
                span 跳出率
                br
                span.no{{data.i.visitBounceRate}}%