div(class='row')
    div(class='col-md-12')  
        div(class='panel panel-info')
            div(class='panel-heading')全站3个月内流量趋势(用户访问数)
            div(class='panel-body') 
                div(id='all-userview',style='height:250px;')



div(class='alert alert-info') 子站流量概览

// 全站流量数据
div.row 
    div.col-md-6
        div.panel.panel-info
            div.panel-heading 全站流量
            div.panel-body
                div#site-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading BBS流量
            div.panel-body
                div#site-traffic-bbs.data-box


    div.col-md-6
        div.panel.panel-info
            div.panel-heading 知识流量
            div.panel-body
                div#site-traffic-zhishi.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading 日记流量
            div.panel-body
                div#site-traffic-riji.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading 播爱达人
            div.panel-body
                div#site-traffic-i.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading WAP
            div.panel-body
                div#site-traffic-wap.data-box



div(class='alert alert-info') 论坛流量来源

div.row

    div.col-md-6
        div.panel.panel-info
            div.panel-heading 全部来源
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading 搜索引擎来源
            div.panel-body
                div#bbs-traffic-referral.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading 直接访问
            div.panel-body
                div#bbs-traffic-none.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading 引荐来源
            div.panel-body
                div#site-traffic-riji.data-box



div(class='alert alert-info') 全站写操作

div.row

    div.col-md-12
        div.panel.panel-info
            div.panel-heading  发贴
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading  WEB发贴
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading  WAP发贴
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading  Android发贴
            div.panel-body
                div#bbs-traffic-all.data-box


    div.col-md-6
        div.panel.panel-info
            div.panel-heading  IOS发贴
            div.panel-body
                div#bbs-traffic-all.data-box



div.row

    div.col-md-12
        div.panel.panel-info
            div.panel-heading  回复
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading  WEB回复
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading  WAP回复
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading  Android回复
            div.panel-body
                div#bbs-traffic-all.data-box


    div.col-md-6
        div.panel.panel-info
            div.panel-heading  IOS回复
            div.panel-body
                div#bbs-traffic-all.data-box

    div.col-md-6
        div.panel.panel-info
            div.panel-heading  注册
            div.panel-body
                div#bbs-traffic-all.data-box


    div.col-md-6
        div.panel.panel-info
            div.panel-heading  登录
            div.panel-body
                div#bbs-traffic-all.data-box

div(class='row')
    div(class='col-md-2')  
        div(class='panel panel-danger')
            div(class='panel-heading') APP当前排名
            div(class='panel-body center') 
                span(class='no vivid no-lg') {{appRank.no}} 
                br
                span(class='gray') 最后更新于
                br
                span(class='gray') {{appRank.time}}





div(class='row')
    div(class='col-md-3')  
        div(class='panel panel-info')
            div(class='panel-heading') 子站流量数据
            div(class='panel-body',style='padding:15px 5px 15px 5px;') 
                ul
                    li WWW流量 
                        span(class='no no-smm') {{site.www.thisWeek}} 
                        span {{site.www.rate}}
                    li  BBS流量
                        span(class='no no-smm') {{site.bbs.thisWeek}} 
                        span {{site.bbs.rate}}
                    // li  WAP流量 {{site.wap.thisWeek}} {{site.wap.rate}}
                    li  RIJI流量 
                        span(class='no no-smm') {{site.riji.thisWeek}} 
                        span {{site.riji.rate}}
                    li  ZHISHI流量 
                        span(class='no no-smm') {{site.zhishi.thisWeek}} 
                        span {{site.zhishi.rate}}

    div(class='col-md-3')  
        div(class='panel panel-info')
            div(class='panel-heading') BBS流量来源数据
            div(class='panel-body') 
                p 搜索引擎 
                    span(class='no no-smm') {{site.bbs.thisFrom[0][1]}} 
                    span {{site.bbs.organicRate}}
                p 引荐 
                    span(class='no no-smm') {{site.bbs.thisFrom[1][1]}} 
                    span {{site.bbs.referralRate}}
                p 其他 
                    span(class='no no-smm') {{site.bbs.thisFrom[2][1]}} 
                    // span {{site.bbs['<none>Rate']}}

    div(class='col-md-3')  
        div(class='panel panel-info')
            div(class='panel-heading') 发帖数
            div(class='panel-body') 
                span(class='no') {{seedit.thisWeek.topic}} 
                span {{seedit.compare.topic}}


    div(class='col-md-3')  
        div(class='panel panel-info')
            div(class='panel-heading') 回复数
            div(class='panel-body') 
                span(class='no') {{seedit.thisWeek.reply}} 
                img(src='http://chart.googleapis.com/chart?cht=pc&chs=55x55&chf=bg%2Cs%2CFFFFFF00&chco=bce8f1%2CE6E6E6%2CE6E6E6&chd=e%3A%2C%2C..') 
                span {{seedit.compare.reply}}


div(class='alert alert-danger') 注册登录数据

div(class='row')

    div(class='col-md-6')  
        div(class='panel panel-danger')
            div(class='panel-heading') 注册趋势
            div(class='panel-body') 
            span(class='no') {{seedit.thisWeek.signup_avg}} 
            span {{seedit.compare.signup_avg}}

    div(class='col-md-6')  
        div(class='panel panel-danger')
            div(class='panel-heading') 登录趋势
            div(class='panel-body')   
            span(class='no') {{seedit.thisWeek.signin_avg}} 
            span {{seedit.compare.signin_avg}}


div(class='alert alert-success') App相关数据

div(class='row')

    div(class='col-md-6')  
        div(class='panel panel-success')
            div(class='panel-heading') 日新增用户
            div(class='panel-body') 
                div(id='app-install',style='height:325px;')
                span(class='no') {{app.thisWeekInstallAvg}} 
                {{app.weeklyInstallSum}}

    div(class='col-md-6')  
        div(class='panel panel-success')
            div(class='panel-heading') 日活跃用户
            div(class='panel-body') 
                div(id='app-active',style='height:100px;')
                span(class='no no-sm') {{app.thisWeekActiveAvg}} 
                {{app.weeklyActiveSum}}

    div(class='col-md-6')  
        div(class='panel panel-success')
            div(class='panel-heading') 日启动用户
            div(class='panel-body') 
                div(id='app-launch',style='height:100px;')
                span(class='no-sm') {{app.thisWeekLaunchesAvg}} 
                {{app.weeklyLaunchesSum}}


div(class='alert alert-info') 流量交换


div(class='row')
    div(class='col-md-6')
        div(class='panel panel-info')
            div(class='panel-heading') 导入流量
            div(class='panel-body')  
                div(id='exchange-input',style='height:120px;')

    div(class='col-md-6')
        div(class='panel panel-info')
            div(class='panel-heading') 导出流量
            div(class='panel-body') 
                div(id='exchange-output',style='height:120px;')
