!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title(ng-bind='title+"-数据中心"',ng-init='title="数据中心"') Seedit Data Visualization
    link(rel='stylesheet', href=static+'/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href=static+'/js/vendors/fullcalendar/fullcalendar.css')
    link(rel='stylesheet', href=static+'/js/vendors/jquery-ui.css')
    link(rel='stylesheet', href=static+'/js/vendors/jquery.ui.datepicker.css')
    
  body
    block body
